* {
  margin: 0;
  padding: 0;
}

body {
  background: #f1f2f7;
}

body .moduleTitle {
  padding: 12px 20px;
  width: 100%;
  background: white;
  font-size: 16px;
  font-weight: 600;
  color: #1f1f1f;
  display: flex;
  align-items: center;
}

body .moduleTitle .backToText {
  margin-right: 4px;
  cursor: pointer;
}

body .moduleTitle .backToText .el-icon-back {
  font-weight: 700;
  font-size: 18px;
}

body .moduleTitle .backToText span {
  font-size: 14px;
  padding: 2px 10px 2px 0px;
  border-right: 2px solid;
  display: inline-block;
  position: relative;
}

body .moduleTitle .backToText:hover .el-icon-back {
  color: #409eff;
}

body .moduleTitle .backToText:hover span {
  color: #409eff;
}

body .moduleTitle .productName {
  font-weight: 400;
}

body .moduleTitle strong {
  font-weight: 600;
}

body .productTabClass {
  padding: 5px 20px 0px;
  margin-bottom: 5px;
  background: white;
  border-top: 1px solid #eeeeee;
}

body .formStyle {
  padding: 0 0;
}

body .formStyle .el-select {
  width: auto;
}

body .formStyle .el-form-item {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 10px 0px 20px 0px;
}

body .formStyle .el-form-item__label {
  width: 180px !important;
  text-align: left;
}

body .formStyle .el-input {
  width: 280px;
}

body .formStyle .el-switch {
  width: 280px;
}

body .formStyle .el-textarea {
  width: 810px;
}

body .formStyle .btnItem {
  text-align: right;
  position: absolute;
  right: 86px;
  top: 10px;
}

body .formStyle .resetBtn {
  width: 68px;
  height: 38px;
  background: white;
  border-radius: 4px;
  border: 1px solid #d9d9d9;
}

body .formStyle .resetBtn span {
  color: #707070;
}

body .formStyle .resetBtn:hover {
  opacity: 0.6;
}

body .formStyle1 .el-form-item__label {
  width: 120px !important;
  text-align: left;
}

body .el-card {
  margin: 15px 0;
}

body .el-card .el-card__body {
  padding: 0;
}

body .el-card.is-always-shadow {
  box-shadow: #f2f6fc 0px 0px 0px 0px;
  border: 0px;
  border-radius: 0px;
}

body .el-table__header-wrapper thead .cell {
  font-weight: 400;
  font-size: 16px;
  color: #333333;
}

body .el-table__body tbody {
  color: #606266;
  font-size: 14px;
}

body .el-table__body tbody .cell {
  font-weight: 400;
}

body .collapseClass .el-collapse-item {
  margin-bottom: 20px;
}

body .collapseClass .el-collapse-item .el-collapse-item__header {
  font-size: 20px;
  padding: 0 20px;
}

body .collapseClass .el-collapse-item .el-collapse-item__wrap {
  padding-bottom: 10px;
}

body .collapseClass .el-collapse-item .el-collapse-item__wrap .el-collapse-item__content {
  padding: 0 25px;
}

body .collapseClass .el-collapse-item .el-collapse-item__wrap .el-collapse-item__content .el-row {
  display: flex;
  flex-wrap: wrap;
}

body .collapseClass .el-collapse-item .el-collapse-item__wrap .el-collapse-item__content .childTitle {
  font-size: 16px;
}

body .collapseClass .el-collapse-item .el-collapse-item__wrap .el-collapse-item__content .checkClass {
  display: flex;
  flex-wrap: wrap;
  padding: 0 10px;
}

body .collapseClass .el-collapse-item .el-collapse-item__wrap .el-collapse-item__content .checkClass .el-checkbox {
  width: 190px;
  margin-right: 0px;
}

body .pageInfoButton {
  position: absolute;
  top: 50px;
  right: 20px;
}

body .productList {
  padding: 20px;
  border: 1px solid #ccc;
}

body .productList .switch {
  display: flex;
  align-items: center;
}

body .productList .switch .switchClass {
  display: inline-block;
  width: 40px !important;
  height: 25px !important;
  position: relative;
  margin: 0 10px;
}

body .productList .switch .switchClass .switchdiv {
  position: absolute;
  top: 0;
  width: 40px !important;
  height: 25px !important;
  z-index: 9;
  cursor: pointer;
}

body .productList .switch .switchClass .el-switch {
  width: 40px !important;
  height: 25px !important;
}
